package io.immortal.spicemustflow.infrastructure.repository.${fn.toLowerCase($entity.name)}

import io.immortal.spicemustflow.infrastructure.common.persistence.BaseJpaEntity
import io.immortal.spicemustflow.infrastructure.common.persistence.BaseJpaEntityListener
import io.immortal.spicemustflow.infrastructure.common.persistence.ColumnConstants.Companion.CREATED_AT
import io.immortal.spicemustflow.infrastructure.common.persistence.ColumnConstants.Companion.CREATOR
import io.immortal.spicemustflow.infrastructure.common.persistence.ColumnConstants.Companion.UPDATED_AT
import io.immortal.spicemustflow.infrastructure.common.persistence.ColumnConstants.Companion.UPDATER
import jakarta.persistence.*
import java.time.OffsetDateTime
import java.util.*

@Entity
@Table(name = "${fn.toLowerCase($entity.name)}")
@EntityListeners(BaseJpaEntityListener::class)
class ${entity.name}JpaEntity(    #foreach( $attribute in $entity.nonKeyAttributes )
    var ${attribute.name}: ${attribute.type},
    #end    #foreach( $link in $entity.links )
    $link.fieldName: ${link.fieldType}Entity,
    #end) : BaseJpaEntity {

    // TODO check hibernate version + postgres UUID generation
    @Id
    @GeneratedValue
    var id: UUID? = null

    @Column(name = CREATOR, updatable = false)
    override var creator: String? = null

    @Column(name = CREATED_AT, updatable = false, nullable = false)
    override var createdAt: OffsetDateTime? = null

    @Column(name = UPDATER)
    override var updater: String? = null

    @Column(name = UPDATED_AT)
    override var updatedAt: OffsetDateTime? = null
}

